{% extends "_Layout.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}


{% block content %}
{% if blog %}
<h1 class="meta">{{ blog.title }}</h1>
<p style="line-height:15px;">By {{ blog.author }} | {{ blog.posted }}</p>
<div class="image-container">
    <div class="text">
        <p>
            {{ blog.content }}
        </p>
    </div>

    <div class="image" style="margin-left:20px; width:50%;">
        {% if blog.imageUrl != "" %}
        {% load static %}
        <img src="{% get_static_prefix %}images/{{ blog.imageUrl }}" alt="{{ blog.imageUrl }}">
        {% endif %}
    </div>
</div>
<h2>Comments({{ comment_count }})</h2>
<div>
    {% for c, v in comment_count.items %}
    {% if c == blog.id %}
    <h3>Comments ({{ v }})</h3>
    {% endif %}
    {% endfor %}

    {%for c in comments %}
    {% if c.blog.id == blog.id %}
    <div class="comments">
        <p>
            <strong>{{ c.commenter }} | {{ c.email }}</strong>
        </p>
        <p>
            Posted: {{ c.posted }}
        </p>
        <p>
            {{ c.content }}
        </p>
    </div>
    <hr>
    {% endif %}
    {% endfor %}

    <!-- Trigger/Open The Modal -->
    <button class="btn" onclick="openModel('{{ blog.id }}')">Create Comment</button>
    <!-- The Modal -->
    <div id="model-{{ blog.id }}" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="closeModel('{{ blog.id }}')">&times;</span>
                <h2>Create a Comment!</h2>
            </div>
            <div class="modal-body">
                <form action="{% url 'blog:comment' blog.id %}" method="post">
                    {% csrf_token %}
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your name.." required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="example@gmail.com" required>

                    <label for="comment">Comment</label>
                    <textarea name="comment" id="comment" required></textarea>
                    <input type="submit" value="Submit" >
                </form>

            </div>
        </div>
    </div>
</div>
{% else %}
<p>no blogs are available</p>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    function openModel(id) {
        var modal = document.getElementById("model-" + id);
        modal.style.display = "block";
    }
    function closeModel(id) {
        var modal = document.getElementById("model-" + id);
        modal.style.display = "none";
    }
</script>
{% endblock %}