{% extends '_Layout.html' %}

{% block content %}
<h1 style="text-align:center">Software Development Plan</h1>
<h3>Phase 0: Requirements Specification</h3>
<div style="margin-left:60px">
    <p>
        The purpose of this assignment was to learn how to use django to serve out http pages. We also learned
        how to make dynamic web pages so that we can load things from the database and show them on the page. We
        also needed to implement models and allow users to interact with the database.
    </p>
</div>
<h3>Phase 1: Design</h3>
<div style="margin-left:60px">
    <p>
        We need to create our models first so that we can setup the database correctly. Once the models were
        created, we then needed to create our migrations so that the models can be setup as tables in the db.
        Then we needed to add auto populating object to the migrations so that we can have some test data whenever
        we first create the migration. Then we need to update our urls file so that we can have different end points
        for different files. Next, we need to create our template directory that contains all of our html pages that
        will load our dynamic content. Lastly, we need to create our static files, which is a directory that contains all
        of our images,css and javascript.
    </p>
</div>
<h3>Phase 2: Implementation</h3>
<div style="margin-left:60px">
    <p>
        While implementing these things, there was a lot that I learned. First I learned how to use the "block" tag so that
        we can extend a template to be used across the whole website. I also learned how to crate a context in the views
        so that we can pass content from the DB into the html page and then use it.
    </p>
</div>
<h3>Phase 3: Testing & Debugging</h3>
<div style="margin-left:60px">
    <p>
        For Testing & Debugging, I had to go through and make comments on my posts to make sure all of the models
        were working properly. Then I also had to go through the polls app and make sure that all of that was working.
    </p>
</div>

<h3>Phase 4: Deployment</h3>
<div style="margin-left:60px;">
    <p>
       I made sure that my code was pushed to the repository correctly and that I could clone the repo onto
        another computer and use it. Everything went well. A couple of times I added some new code and had some mistakes
        so i used the git compare to see what I did wrong. This was very useful

    </p>

</div>
<h3>Phase 5: Maintenance</h3>
<div style="margin-left:60px;">
    <p>
        In the future, I dont think there will be too much maintenance to be done. I wrote templates that can be easily
        modified so that it doesnt take much time to make changes on the page. The page also has good css so it looks
        good and I dont think it will need to be changed much in the future.
    </p>
</div>
{% endblock %}