
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


body {
    background: url("../images/japan.jpg") no-repeat center center fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: rgb(255, 255, 255, 0.7);
    position: absolute;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ol li {
    float: unset;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #ddd;
        }

        li a.active {
            color: white;
            background-color: #04AA6D;
        }

.image-container {
    display: flex;
    align-items: center;
    justify-content: center
}




.text {
    font-size: 20px;
    padding-left: 20px;
    max-width: 50%;
    text-align: justify;
}
p {
    font-size: 15px
}

#aboutMe p {
    text-align: justify;
}
code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

.meta {
    font-family: 'Fuzzy Bubbles', cursive;
}

div p:nth-of-type(odd) {
    background-color: rgb(255, 255, 255, 0.5);
}
